@font-face {
  font-family: "Apex Mk2";
  src: url("Fonts/Apex Mk2/ApexMk2-Regular.otf");
}
@font-face {
  font-family: "Octin College Regular";
  src: url("Fonts/octin college rg.ttf");
}
#page-title {
  font-family: 'Apex Mk2';
  font-size: 60px;
  color: #e4e6eb;
}
#header-column {
  text-align: center;
  padding-top: 40px;
  background-color: #133160;
}
#instructions-header {
  font-family: "Octin College Regular";
  font-weight: bold;
  padding-top: 10px;
}
#app-header {
  font-family: "Octin College Regular";
  font-weight: bold;
}
p {
  font-family: Helvetica;
}
img {
  overflow: hidden;
  height: 500px;
  width: 275px;
}
#instructions {
  height: 120px;
}
#button {
  text-align: center;
}
#stickit-app {
  justify-content: center;
}
form {
  border: #133160 solid 5px;
  width: 550px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}
.col {
  border: black solid 1px;
}
button {
  background-color: #e4e6eb;
  border-radius: 3.5px;
  padding: 10px;
  color: black;
  font-family: "Octin College Regular";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
label {
  font-family: "Octin College Regular";
  font-weight: bold;
  font-size: 18px;
}
#results-header {
  font-family: "Octin College Regular";
  font-weight: bold;
  padding-top: 10px;
}
#results label {
  padding-right: 10px;
}
#name-div,
#age-level-div,
#flex-div,
#curve-div,
#price-div {
  display: flex;
  flex-direction: row;
}
#error {
  color: red;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}
